{% load static %}
{% static "images" as baseUrl %}

<div class="sidebar" data-color="white" data-active-color="danger">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
            <img src="{% static 'core/img/logo-small.png' %}">
            </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            {{ request.user.username }}
            <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
            </div> -->
            <!-- {{ request.path }} -->
        </a>
    </div>
    <div class="sidebar-wrapper">
        {% if user.is_authenticated %}
            <ul class="nav">
                <li class="{% ifequal request.path '/core/dashboard.html' %} active {% endifequal%}">
                    <a href="./dashboard.html">
                        <i class="nc-icon nc-bank"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% ifequal request.path '/core/user.html'%} active {% endifequal %}">
                    <a href="./user.html">
                        <i class="nc-icon nc-single-02"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="{% ifequal request.path '/core/tables.html'%} active {% endifequal %}">
                    <a href="./tables.html">
                        <i class="nc-icon nc-tile-56"></i>
                        <p>Table List</p>
                    </a>
                </li>
                <li class="{% ifequal request.path '/core/map.html'%} active {% endifequal %}">
                    <a href="./map.html">
                        <i class="nc-icon nc-pin-3"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li class="{% ifequal request.path '/core/icons.html'%} active {% endifequal %}">
                    <a href="./icons.html">
                        <i class="nc-icon nc-diamond"></i>
                        <p>Icons</p>
                    </a>
                </li>
                <li class="{% ifequal request.path '/core/typography.html'%} active {% endifequal %}">
                    <a href="./typography.html">
                        <i class="nc-icon nc-caps-small"></i>
                        <p>Typography</p>
                    </a>
                </li>
                <li class="{% ifequal request.path '/core/notifications.html'%} active {% endifequal %}">
                    <a href="./notifications.html">
                        <i class="nc-icon nc-bell-55"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li>
                    <a href="https://demos.creative-tim.com/bs3/paper-dashboard/upgrade.html">
                        <i class="nc-icon nc-spaceship"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
  </div>
